
/* fonts */

@font-face {
  font-family: "Cuprum";
  src:
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src:
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src:
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* variables */

:root {

  /* colors  background */
  --color-red: #ee3643;
  --color-red-darker: #ca2c37;
  --color-red-dark: #ba2732;
  --color-green-light: #5fbb2d;
  --color-green: #63a63e;
  --color-green-darker: #518534;
  --color-blue-very-dark: #161d29;
  --color-blue-extra-dark: #1d2739;
  --color-blue-dark: #293449;
  --color-blue-darker: #32425c;
  --color-blue-light: #f3f7f9;
  --color-blue-lighter: #f1f5f7;
  --color-brown-extra-lighter:#f9f5f0;
  --color-brown-light: #f7f3ec;
  --color-white: #ffffff;

  --color-special-lilac: #dc91d8;
  --color-special-brown-light: #ffbf47;
  --color-special-brown: #ffc047;
  --color-special-green-light: #8ed78f;
  --color-special-blue: #3bbce3;

  /* colors  background icon */
  --color-icon-gray-blue: #3d546f;
  --color-icon-gray-darker: #b7bfc8;
  --color-icon-gray: #c5c5c5;

  /* colors bacground modal */
  --color-modal-white-mat: #f4f4f4;

  /* colors  text */
  --color-text-red: #ee3643;
  --color-text-brown-lighter: #ffd180;
  --color-text-gray: #c5c5c5;
  --color-text-blue-darker: #32425c;
  --color-text-blue-lighter: #f1f5f7;
  --color-text-blue-light: #f3f7f9;
  --color-text-black: #000000;
  --color-text-gray: #a9a9a9;
  --color-text-white: #ffffff;

  /* colors  border */
  --color-border-gray-dark: #a9a9a9;
  --color-border-gray-darker: #b5b5b5;
  --color-border-gray: #c5c5c5;
  --color-border-gray-lighter: #e5e5e5;
  --color-border-gray-light: #eaeaea;

  /* colors  text rgba */
  --color-text-blue-lighter-opacity: rgba(241, 245, 247, 0.5);
  --color-text-brown-lighter-opacity: rgba(255, 209, 128, 0.5);
  --color-text-black-opacity: rgba(0, 0, 0, 0.3);
  --color-text-white-opacity: rgba(255, 255, 255, 0.5);

  /* colors  btn rgba */
  --color-btn-white-opacity: rgba(255, 255, 255, 0.3);
  --color-btn-gray-opacity: rgba(197, 197, 197, 0.3);
  --color-btn-gray-darker-opacity: rgba(169, 169, 169, 0.3);

  /* colors  box-shadow */
  --color-box-shadow-nav: inset 0px -5px 0px #293449;
  --color-box-shadow-slider: rgba(0, 0, 0, 0.25);
  --color-box-shadow-logo: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  --color-box-shadow-green-btn: inset 0px -3px 0px #367315;
  --color-box-shadow-btn-tabs: 0px 1px 0px #293449, inset 0px 1px 0px #405069;

  /* fonts */

  --font-primary: "Cuprum", "Arial", sans-serif;
  --font-secondary: "PT Sans", "Trebuchet MS", sans-serif;
}

/* global styles */

.page {
  height: 100%;
}

.page-body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;

  min-width: 1200px;
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--color-text-black);
  background-color: #888888; /* временно */
  /* background-color: var(--color-white); */ /* временно */
  box-sizing: border-box;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.button {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 40px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text-white);
  background-color: var(--color-red);
  border: none;
}

.button:hover {
  background-color: var(--color-red-darker);
}

.button:active {
  background-color: var(--color-red-dark);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* --- page-header styles --- */
/* page-header menu */
.page-header {
  outline: 5px solid rgba(0, 255, 0, 0.3); /* временно */
  outline-offset: -5px;
}

.page-header__bar {
  background-color: var(--color-blue-dark);
}
.page-header__menu {
  width: 940px;
  padding: 0 130px;
  margin: 0 auto;
  color: var(--color-text-white);

  outline: 5px solid rgba(255, 0, 0, 0.3); /* временно */
  outline-offset: -5px;

  display: grid;
  grid-template-columns: min-content 1fr 1fr max-content;
}

.page-header__logo {
  width: 110px;
  padding: 12px 55px;
  background-color: var(--color-red);
  box-shadow: var(--color-box-shadow-logo);
}

.page-header__logo:active {
  background-color: var(--color-red-dark);
}

.page-header__form-search::placeholder {
  color: var(--color-text-white);
}

.page-header__form-search {
  padding: 12px 0;
  margin: 0;
  margin-left: 17px;
  background-color: var(--color-blue-dark);
  border: none;
}

.page-header__form-search:focus {
  text-transform: capitalize;
  background-color: var(--color-white);
}

.page-header__menu-link-wrapper {
  padding: 12px 0;
  margin: 0;
}

.page-header__menu-link {
  display: inline-block;
  margin: 0;
  margin-left: 45px;
  text-decoration: none;
  color: var(--color-text-white);
  background-color: var(--color-blue-dark);
}

.page-header__menu-link:active {
  color: var(--color-text-white-opacity);
  background-color: var(--color-blue-very-dark);
}

.page-header__menu-btn {
  padding: 12px 20px;
  margin: 0;
  color: var(--color-text-white);
  background-color: var(--color-green);
  border: none;
}

.page-header__menu-btn:hover {
  background-color: var(--color-green-light);
}

.page-header__menu-btn:active {
  color: var(--color-text-white-opacity);
  background-color: var(--color-green);
}

/* page-header submenu */
.page-header__submenu-bar {
  padding-bottom: 60px;
  background-color: var(--color-blue-lighter);
}

.page-header__submenu {
  width: 940px;
  padding: 42px 130px;
  margin: 0 auto;

  outline: 5px solid rgba(255, 0, 0, 0.3); /* временно */
  outline-offset: -5px;

  display: grid;
  grid-template-columns: 1fr  1fr max-content;
  column-gap: 20px;
}

.page-header__desc {
  width: 215px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  padding: 0;
  padding-left: 25px;
  padding-right: 60px;
  margin: 0;
  text-align: center;
  color: var(--color-text-red);
}

.page-header__contacts {
  width: 270px;
  padding: 0;
  padding-right: 30px;
  margin: 0;
  text-align: center;
}

.page-header__contact-phone {
  display: block;
  width: 214px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  padding: 12px 40px;
  margin: 0;
  text-decoration: none;
  color: var(--color-text-red);
  background-color: var(--color-text-blue-light);
  border: 3px solid var(--color-white);
}

.page-header__contact-address {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 5px 10px 0 10px;
  margin: 0;
  color: var(--color-text-blue-darker);
}

.page-header__authorization {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: 60px;
  column-gap: 20px;
}

.page-header__btn-login,
.page-header__btn-registration {
  display: inline-block;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  color: var(--color-text-black);
  background-color: var(--color-white);
}

.page-header__authorization a {
  padding: 20px 5px 40px 5px;
  margin: 0;
}

.page-header__btn-login {
  display: inline-block;
  width: 110px;
  margin-right: 10px;
}

.page-header__btn-registration {
  display: inline-block;
  width: 140px;
}

.page-header__btn-login:hover,
.page-header__btn-registration:hover {
  color: var(--color-text-red);
}

.page-header__btn-login:active,
.page-header__btn-registration:active {
  color: var(--color-text-gray);
}

.page-header__user-btn {
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--color-white);
  border: none;
}

.page-header__user-btn:active {
  color: var(--color-text-gray);
}

.page-header__user-orders,
.page-header__user-private {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--color-text-blue-darker);
}

.page-header__user-orders:hover,
.page-header__user-private:hover {
  color: var(--color-text-red);
}

.page-header__user-orders:active,
.page-header__user-private:active {
  color: var(--color-text-gray);
}

/* nav-menu */
.page-header__nav-wrapper {
  background-color: var(--color-blue-darker);
  box-shadow: var(--color-box-shadow-nav);

  outline: 5px solid rgba(0, 255, 255, 0.3); /* временно */
  outline-offset: -5px;

  width: 940px;
  margin: 0 auto;
}

.page-header__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.page-header__nav-item {
  padding: 20px 25px 25px 25px;
}

.page-header__nav-item:first-child {
  padding: 20px 25px 25px 50px;
}

.page-header__nav-item:last-child {
  padding: 20px 50px 25px 25px;
}

.page-header__item-link {
  text-decoration: none;
  color: var(--color-text-white);
}

.page-header__item-link:hover {
  background-color: var(--color-blue-dark);
}

.page-header__item-link:active {
  color: var(--color-text-white-opacity);
  background-color: var(--color-blue-extra-dark);
}
/* --- page-header styles end --- */

/* --- page-main styles --- */
.page-main {
  outline: 5px solid rgba(255, 0, 0, 0.3); /* временно */
  outline-offset: -5px;

  background-color: var(--color-white);
}

/* section assortment */
.assortment {
  outline: 5px solid rgba(0, 255, 255, 0.3); /* временно */
  outline-offset: -5px;

  display: grid;
  grid-template-columns: 1fr;

  padding: 59px 130px;
}
/* assortment list */

.assortment__catalog-list,
.assortment__services-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.assortment__catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.assortment__services-list {
  display: grid;
  grid-template-columns: 1fr;
}

.assortment__catalog-list li,
.assortment__services-list li {
  margin-bottom: 20px;
}

.assortment__item {
  display: block;
  width: 300px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-text-white);

  outline: 5px solid rgba(255, 0, 0, 0.3); /* временно */
  outline-offset: -5px;
}

.assortment__item-title h3 {
  padding: 0;
  margin: 0;
}

.assortment__item-title {
  display: block;
  padding: 18px 30px 12px 22px;
  margin: 0;
}

.assortment__btn a {
  display: block;
  padding: 0;
  margin: 0;
}

.assortment__btn {
  display: block;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 17px 15px 23px;
  margin: 0;
  margin-left: 22px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text-white);
  background-color: var(--color-btn-white-opacity);
}

.assortment__btn:hover {
  background-color: var(--color-btn-gray-opacity);
}

.assortment__btn:active {
  background-color: var(--color-btn-gray-darker-opacity);
}

.item-1 {
  background-color: var(--color-special-brown-light);
}

.item-2 {
  background-color: var(--color-special-blue);
}

.item-3 {
  background-color: var(--color-special-lilac);
}

.item-4 {
  background-color: var(--color-special-green-light);
}

.item-5 {
  background-color: var(--color-special-brown);
}

.assortment__catalog-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 266px;
  column-gap: 20px;
}

/* slider */
.slider__content {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider__content-item {
  width: 620px;
  height: 266px;
  padding: 0;
  background-color: #888888;
}

.slider__item-header {
  position: absolute;
  width: 598px;
  padding-left: 22px;
  background-color: var(--color-box-shadow-slider);
}

.slider__item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--color-text-white);
}

.slider__item-desc {
  color: var(--color-text-white);
}

.slider__link {
  position: relative;
  left: 25px;
  bottom: 60px;
}
/* section assortment end */

/* section popular-products */
.popular-products {
  outline: 5px solid rgba(255, 0, 0, 0.3); /* временно */
  outline-offset: -5px;

  padding: 0 130px 70px 130px;
}

.popular-products__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 22px;
  background-color: var(--color-brown-extra-lighter);
}

.popular-products__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  padding: 30px 5px 30px 10px;
  margin: 0;
  text-transform: uppercase;
  color: var(--color-text-blue-darker);
}

.popular-products__btn {
  width: 172px;
  padding: 10px 10px;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.popular-products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.popular-product__item {
  width: 220px;
  border: 1px solid var(--color-border-gray-light);
  box-sizing: border-box;
}

.popular-product__overlay {
  display: none;
  width: 220px;
  background: var(--color-white);
  border: 1px solid var(--color-border-gray-light);
  box-sizing: border-box;
}

.popular-product__item:hover .popular-product__overlay {
  display: block;
}

.popular-product__item-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.popular-product__item-link {
  text-decoration: none;
  color: var(--color-text-black);
}

.popular-product__item-price {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--color-text-gray);
}

.popular-product__item-new-price {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--color-text-white);
  background-color: var(--color-red);
  border: none;
}

.popular-product__item-new {
  color: var(--color-text-white);
  background-color: var(--color-red);
}

.popular-product__item-btn,
.popular-product__item-marker {
  text-transform: uppercase;
  border-radius: 2px;
}

.popular-product__item-btn {
  color: var(--color-text-white);
  background-color: var(--color-green);
  border: none;
  box-shadow: var(--color-box-shadow-green-btn);
}

.popular-product__item-btn:hover {
  background-color: var(--color-green-light);
}

.popular-product__item-btn:active {
  background-color: var(--color-green-darker);
}

.popular-product__item-marker {
  color: var(--color-text-blue-darker);
  background-color: var(--color-white);
  border: 3px solid var(--color-green);
}

.popular-product__item-marker:hover {
  color: var(--color-text-blue-darker);
  border: 3px solid var(--color-blue-darker);
}

.popular-product__item-marker:active {
  color: var(--color-text-gray);
  border: 3px solid var(--color-border-gray-dark);
}
/* section popular-products end */

/* section popular-brands */
.popular-brands {
  outline: 5px solid rgba(255, 0, 0, 0.3); /* временно */
  outline-offset: -5px;

  padding: 0 130px 70px 130px;
}

.popular-brands__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 22px;
  background-color: var(--color-brown-extra-lighter);
}

.popular-brands__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  padding: 30px 5px 30px 10px;
  margin: 0;
  text-transform: uppercase;
  color: var(--color-text-blue-darker);
}

.popular-brands__btn {
  width: 172px;
  padding: 10px 10px;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.popular-brands__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.popular-brand__item {
  width: 220px;
}

.popular-brand__item:nth-child(4) {
  margin-right: 0;
}

.popular-brand__item-link {
  text-decoration: none;
}
/* section popular-brands end */

/* section services */
.services {
  outline: 5px solid rgba(255, 0, 0, 0.3); /* временно */
  outline-offset: -5px;

  padding: 0 130px;

  background-color: var(--color-blue-lighter);
}

.services__bar {
  display: grid;
  grid-template-columns: 1fr;
}

.services__header {
  padding: 0;
  padding-top: 61px;
  padding-bottom: 67px;
}

.services__title {
  width: 300px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  padding: 0 20px 30px 0;
  margin: 0;
  text-transform: uppercase;
}

.services__desc {
  width: 400px;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
  padding: 0 20px 0 0;
  margin: 0;
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

  padding-bottom: 23px;
}

.services__switches {
  width: 240px;
  padding: 0;
  margin: 0;
  margin-right: 60px;
  list-style: none;
}

.services__btn-tabs {
  width: 240px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  padding: 15px 70px 20px 22px;
  color: var(--color-text-white);
  background-color: var(--color-blue-darker);
  box-shadow: var(--color-box-shadow-btn-tabs);
  border: none;
}

.services__btn-tabs:hover {
  background-color: var(--color-blue-dark);
}

.services__btn-tabs:active {
  color: var(--color-text-blue-darker);
  background-color: var(--color-white);
}

.services__btn-tabs:focus {
  color: var(--color-text-blue-darker);
  background-color: var(--color-white);
  box-shadow: none;
}

.services__tab {
  width: 280px;
}

.services__tab-title {
  width: 265px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  padding-right: 15px;
  padding-bottom: 40px;
  margin: 0;
  color: var(--color-text-blue-darker);
}

.services__tab-desc {
  width: 280px;
  padding: 0 10px 30px 0;
  margin: 0;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
}

.services__tab-img {
  position: relative;
  right: 130px;
  width: 460px;
}
/* section services end */

/* section company */
.company {
  outline: 5px solid rgba(255, 0, 0, 0.3); /* временно */
  outline-offset: -5px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;

  padding: 70px 130px;
}

.company__about {
  width: 460px;
  margin: 0;
  margin-right: 180px;
}

.company__title {
  width: 450px;
  padding: 0;
  padding-right: 10px;
  padding-bottom: 30px;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.company__desc {
  padding: 0;
  padding-right: 15px;
  margin: 0;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
}

.desc-one {
  padding-bottom: 30px;
}

.desc-two {
  padding-bottom: 10px;
}

.company__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.company__item {
  padding: 0;
  padding-left: 35px;
  padding-bottom: 16px;
  margin: 0;
}

.company__contacts {
  width: 300px;
}

.company__contacts-title {
  width: 290px;
  padding: 0;
  padding-right: 10px;
  padding-bottom: 30px;
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.company__contacts-desc {
  width: 210px;
  padding: 0;
  padding-right: 15px;
  padding-bottom: 40px;
  margin: 0;

  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
}

.company__map-link {
  display: inline-block;
  padding-bottom: 20px;
}

.company__details-address {
  display: inline-block;
  width: 220px;
}
/* --- page-main styles end --- */

/* --- catalog-main styles --- */
.catalog-main {
  min-width: 1200px;
  background-color: var(--color-white);
}

/* breadcrumbs  styles */
.breadcrumbs__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs__item-link {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text-black);
}

/* section perforators */
.perforators__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-text-blue-darker);
  background-color: var(--color-blue-lighter);
}

/* filter */
.perforators__form-title {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-text-black);
  background-color: var(--color-brown-light);
  border-radius: 2px;
}

.perforators__form-legend-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.perforators__form-fieldset {
  border: none;
}

.perforators__fieldset-boundary {
  border: none;
  color: var(--color-border-gray-light);
  background-color: var(--color-border-gray-light);
  height: 1px;
}

.perforators__min-price,
.perforators__max-price {
  background-color: var(--color-brown-light);
  border: none;
  border-radius: 2px;
}

.perforators__min-price::placeholder,
.perforators__max-price::placeholder {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: var(--color-text-black);
}

.perforators__form-brand {
  padding: 0;
  margin: 0;
  list-style: none;
}

.perforators__form-brand-item {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--color-text-black);
}

.perforators__form-supply {
  padding: 0;
  margin: 0;
  list-style: none;
}

.perforators__form-supply-item {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--color-text-black);
}

.perforators__form-btn {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-text-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-border-gray-lighter);
  box-sizing: border-box;
}

/* perforators catalog submenu */
.perforators__submenu-title {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-text-black);
}

.perforators__submenu-sort-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.perforators__submenu-item {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-text-black);
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: var(--color-red);
}

.perforators__submenu-item:hover {
  border-bottom-style: solid;
}

.perforators__submenu-item:active {
  border-bottom-style: none;
}

.perforators__submenu-link {
  text-decoration: none;
  color: var(--color-text-black);
  opacity: 0.3;
}

.perforators__submenu-link:hover {
  text-decoration: none;
  color: var(--color-text-black);
  opacity: 1;
}

.perforators__submenu-link:active {
  text-decoration: none;
  color: var(--color-text-accent);
  opacity: 1;
}

.perforators__submenu-link:focus {
  text-decoration: none;
  color: var(--color-text-accent);
  opacity: 1;
}
/* perforators catalog submenu end */

/* perforators catalog */
.perforators__catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.perforator__item {
  width: 220px;
  border: 1px solid var(--color-border-gray-light);
  box-sizing: border-box;
}

.perforator__overlay {
  display: none;
  width: 220px;
  background: var(--color-white);
  border: 1px solid var(--color-border-gray-light);
  box-sizing: border-box;
}

.perforator__item:hover .perforator__overlay {
  display: block;
}

.perforator__item-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.perforator__item-link {
  text-decoration: none;
  color: var(--color-text-black);
}

.perforator__item-price {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--color-text-gray);
}

.perforator__item-new-price {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--color-text-white);
  background-color: var(--color-red);
  border: none;
}

.perforator__item-new {
  color: var(--color-text-secondary);
  background-color: var(--color-basic-red);
}

.perforator__item-btn,
.perforator__item-marker {
  text-transform: uppercase;
  border-radius: 2px;
}

.perforator__item-btn {
  color: var(--color-text-white);
  background-color: var(--color-green);
  border: none;
  box-shadow: var(--color-box-shadow-green-btn);
}

.perforator__item-btn:hover {
  background-color: var(--color-green-light);
}

.perforator__item-btn:active {
  background-color: var(--color-green-darker);
}

.perforator__item-marker {
  color: var(--color-text-blue-darker);
  background-color: var(--color-white);
  border: 3px solid var(--color-green);
}

.perforator__item-marker:hover {
  color: var(--color-text-blue-darker);
  border: 3px solid var(--color-blue-darker);
}

.perforator__item-marker:active {
  color: var(--color-text-gray);
  border: 3px solid var(--color-border-gray-dark);
}
/* perforators catalog end */

/* perforators catalog nav */
.perforators__catalog-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.perforators__catalog-nav-item a {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-border-gray-lighter);
  border-radius: 2px;
  box-sizing: border-box;
}

.perforators__catalog-nav-item a:hover {
  border: 1px solid var(--color-border-gray);
}

.perforators__catalog-nav-item a:active {
  border: 1px solid var(--color-red);
}

.perforators__catalog-nav-item a:focus {
  background-color: var(--color-red);
  border: none;
}
/* section perforators end */

/* section perforators about */
.perforators-about {
  padding-left: 130px;
  padding-right: 130px;
  margin-left: -130px;
  margin-right: -130px;
  background-color: var(--color-blue-lighter);
}

.perforators-about__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-text-black);
}

.perforators-about__desc {
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-text-black);
}
/* section perforators about end */
/* --- catalog-main styles --- */

/* --- page-footer styles --- */
.page-footer {
  background-color: var(--color-blue-darker);

  outline: 5px solid rgba(255, 0, 0, 0.7); /* временно */
  outline-offset: -5px;
}

.page-footer__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  padding: 0 130px 50px 130px;
}

.page-footer__logo {
  display: block;
  width: 136px;
  padding: 20px 42px 18px 42px;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  background-color: var(--color-red);
  box-shadow: var(--color-box-shadow-logo);
}

.page-footer__logo:active {
  background-color: var(--color-red-dark);
}

.page-footer__contact-address,
.page-footer__contact-phone {
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  color: var(--color-text-blue-lighter);
}

.page-footer__contact-phone {
  text-decoration: none;
}

.page-footer__bar-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.page-footer__nav {
  padding: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  list-style: none;
}

.page-footer__item a {
  color: var(--color-text-blue-lighter);
  text-decoration: none;
}

.page-footer__item a:hover {
  text-decoration: underline;
}

.page-footer__item a:active {
  text-decoration: none;
  color: var(--color-text-blue-lighter-opacity);
}

.page-footer__block-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer__link-item {
  text-decoration: none;
  color: var(--color-text-brown-lighter);
}

.page-footer__link-item:hover {
  text-decoration: underline;
}

.page-footer__link-item:active {
  text-decoration: none;
  color: var(--color-text-brown-lighter-opacity);
}

.page-footer__bottom-wrapper {
  background-color: var(--color-blue-dark);
}

.page-footer__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

  padding: 38px 130px;
}

.page-footer__left {
  max-width: 300px;
}

.page-footer__copyright {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--color-text-white);
}

.page-footer__medium {
  display: block;
  max-width: 300px;

  justify-self: center;
  text-align: center;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  /*outline-offset: -5px; */
}

.page-footer__social-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-footer__right {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 50px;

  max-width: 300px;
}

.page-footer__feedback,
.page-footer__develop {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 10px;

  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: var(--color-text-white);
}

.page-footer__feedback-link,
.page-footer__develop-link {
  text-decoration: none;
  color: var(--color-text-brown-lighter);
}

.page-footer__feedback-link:hover,
.page-footer__develop-link:hover {
  text-decoration: underline;
  color: var(--color-text-brown-lighter);
}

.page-footer__feedback-link:active,
.page-footer__develop-link:active {
  text-decoration: none;
  color: var(--color-red);
}
/* --- page-footer styles end --- */

/* --- modal --- */
.modal {
  background-color: var(--color-white);
  border: none;
  border-top: 5px solid var(--color-red);
}

.modal__btn-bg {
  position: relative;
  top: -110px;
  min-height: 110px;
  background-color: var(--color-modal-white-mat);
}


/* --- modal end --- */

/* --- section modal cart --- */
.modal__cart {
  width: 620px;
}

.modal__cart-desc {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.modal__cart-link-order,
.modal__cart-link-shop {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.modal__cart-link-order {
  color: var(--color-text-white);
  background-color: var(--color-red);
}

.modal__cart-link-shop {
  color: var(--color-text-black);
  background-color: var(--color-white);
}
/* --- section modal cart end --- */

/* --- section modal message --- */
.modal__message {
  width: 620px;
  min-height: 430px;
}

.modal__message-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;

  padding: 50px 80px 35px 80px;
}

.modal__message-wrapper {
  width: 460px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.modal__message-form-item {
  display: grid;
  grid-template-columns: 220px;
  grid-gap: 15px;

  padding: 0;
  margin: 0;
}

.modal__message-form-item label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.modal__message-form-input {
  width: 220px;
  border: 2px solid var(--color-border-gray);
  box-sizing: border-box;
  border-radius: 2px;
}

.modal__message-form-input::placeholder {
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-text-gray);
}

.message-form-textarea {
  width: 460px;
  margin-bottom: 38px;
}

.modal__message-form-btn {
  min-width: 460px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  padding-top: 14px;
  padding-bottom: 14px;
  text-transform: uppercase;
  color: var(--color-text-white);
  background-color: var(--color-red);
  border: none;
  z-index: 1;
}

.modal__close-message {
  position: relative;
  bottom: 570px;
  left: 515px;
}
/* --- section modal message end --- */

/* --- section modal map --- */
.modal__map {
  width: 943px;
  height: 449px;
}
/* --- section modal map end --- */

